* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book-container {
  background-color: #b5abd6;
  padding: 2em;
  max-width: 300px;
  border-radius: 6px;
}

input {
  margin-bottom: 1em;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
}
