* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: white;
  font-family: "Manrope", sans-serif;
  background-color: #2a3046;
  min-height: 100vh;
}

button {
  font-size: 0.875rem;
  font-family: "Manrope", sans-serif;
  border-radius: 6px;
}

.container {
  width: 80%;
  min-width: 200px;
  margin: 0 auto;
}

header {
  margin-bottom: 1em;
  border-bottom: 1px solid white;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 1em 0 0.5em 0;
}

.new-book-btn {
  display: block;
  margin: 0 auto 3em auto;
  padding: 0.75em 1.25em;
  background-color: white;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-form-card {
  background-color: white;
  margin: 15% auto;
  padding: 2em;
  border-radius: 6px;
  width: 60%;
  max-width: 400px;
}

label {
  color: black;
}

input {
  margin-bottom: 1em;
}

input[type="text"] {
  width: 100%;
  padding: 0.75em;
  border: 1px solid #9ca5c7;
  border-radius: 6px;
}

input[type="text"]::placeholder {
  font-family: "Manrope", sans-serif;
}

input[type="submit"] {
  display: block;
  margin: 1em auto 0 auto;
  padding: 0.5em 1em;
  font-family: "Manrope", sans-serif;
  font-size: 0.875rem;
  background-color: #39405b;
  color: white;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
}

.book-card {
  background-color: #39405b;
  border-radius: 6px;
  padding: 2em;
  text-align: center;
  margin: 0 auto 2em auto;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 275px;
  word-break: break-word;
}

.book-card p {
  margin-bottom: 0.5em;
}

.book-read-status-btn {
  display: block;
  padding: 0.5em 1em;
  margin: 1em auto 1em auto;
  width: 90px;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.05);
  border: none;
  cursor: pointer;
}

.remove-btn {
  display: block;
  padding: 0.5em;
  margin: 0 auto;
  width: 90px;
  background-color: #9ca5c7;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}
